.header {
    z-index: 5;
    width: 100%;
    // position: fixed;
    min-height: 50px;
    // padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    background: #191919;
    box-shadow: 0px 0px 5px #454545;
    border-bottom: 5px solid #45D33D;
    letter-spacing: 1px;
}

.header-nav {
    display: flex;
    text-align: center;
    vertical-align: middle;
    justify-content: space-around;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.navbar-nav {
    padding-top: 15px;
    text-transform: uppercase;
    justify-content: space-around;
}

// ul {
//     text-transform: uppercase;
//     justify-content: space-around;
// }

li {
    display: inline;
    list-style: none;
    padding: 15px;
}

li>.nav-link {
    display: inline-block;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

li>.nav-link:hover {
    // font-size: 18px;
    transform: translateY(-.50rem);
    transition: .2s;
    z-index: 2;
    // border-bottom: 4px solid #45D33D;
}

.nav-item {
    vertical-align: middle;
}

.nav-input input[type=text] {
    justify-content: flex-end;
    display: inline;
    vertical-align: middle;
    padding: 6px;
    // border: none;
    margin-bottom: 8px;
    font-size: 17px;
    background: white;
    padding-left: 10px;
}