.nav-img {
    width: 110px;
    // height: 51px;
}

.img-icon {
    // height: 30px;
    color: #fff;
    font-size: 22px;
}

.img-procuct li:after {
    margin-left: 10px;
    content: url(../images/icon-arrow.png);
    display: inline-block;
    vertical-align: middle;
}

.img-procuct > li> a {
    color: #191919;
    text-decoration: none;
}

.image img {
    width: 512px;
    height: 512px;
}

.banner-img {
    width: 512px;
    background: #646464;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #646464;
}