$animationSpeed: 60s;

#items-wrapper {
    // width: 100vw;
    margin: auto;
    margin-top: 1px;
    max-width: 50%;
    cursor: pointer;
    padding-top: 10px;
    text-align: center;
    place-items: center;
    letter-spacing: 1px;
    padding-bottom: 10px;
    background: #fff;
    justify-content: center;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
    box-shadow: inset 0px 0px 6px #949494;
    overflow: hidden;
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-1000px * 4))}
}

div .item {
    animation: scroll $animationSpeed linear infinite;
}

#items {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color: #191919;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #454545;
}

.item {
    flex: none;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: start;
    pointer-events: none;
}

.dstq-span {
    color: #326AFD;
}

.carousel-icon {
    padding-right: 2px;
    padding-bottom: 2px;
}

.content {
    width: 100%;
    height: 100%;
    animation: scroll $animationSpeed linear infinite;
}